{% extends "layout.html" %}

{% block pageTitle %}
  Your name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <form class="form" action="/v2/question2" method="post">

            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="your-name">
                  What is your name?
                </label>
              </h1>
              <div id="your-name-hint" class="govuk-hint">
                This is the name we'll use on your adventure.
              </div>
              <input class="govuk-input" id="your-name" name="your-name" type="text" aria-describedby="your-name-hint">
            </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
