
{% extends "layout.html" %}

{% block pageTitle %}
  Ride or Die – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Welcome to Ride or die
       
      </h1>
      <p>
        This is hopefully my final practice prototype. <br>
        I spent two days on this.
      </p>
      <a href="/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg></a>
      <h2 class="govuk-heading-m">Diary</h2>
      <p>This is a log of what I've done.</p>
      <p><b>Wednesday April 20th</b> <br>I spent this day creating the pages and branches needed.</p>

      <p><b>Thursday April 21st</b> <br>I finished the content. I created this index page.</p>

      <h2 class="govuk-heading-m">Problems and questions</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          Is there a way to shorten the code for the companion's name?
        </li>
        <li>
          Was this a suitable amount of time to spend on a prototype this length? 
        </li>
        <li>What more so I need to learn?
        </li>
      </ul> 
    
    </div>
  </div>

{% endblock %}
