{% extends "layout.html" %}

{% block pageTitle %}
  Setting off – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Setting off</h1>

      <form class="form" action="/question4" method="post">

        <p>Hi {{ data['your-name'] }}. <br> It's a fine day. You and your {{ data['companion'] }} called {{ data['companion-turtle-name'] }}{{ data['companion-cat-name'] }}{{ data['companion-dog-name'] }}{{ data['companion-rabbit-name'] }}
        are about to leave on an adventure.</p>

      

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
