{% extends "layout.html" %}

{% block pageTitle %}
  Turning back – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Turning back
      </h1>

      <p>You and {{ data['companion-turtle-name'] }}{{ data['companion-cat-name'] }}{{ data['companion-dog-name'] }}{{ data['companion-rabbit-name'] }} turn back. The rain eases and you happen upon a little old woman. <br> You offer her your coat so she can get a little respite from the rain.<br> She is so grateful that she invites you to her cottage for dinner.<br> You enjoy a scrumptious meal together and stay the night.<br> The next day the sun is shining.<br> A great day for an adventure! </p>

      <p>Read more <a href=/question5A>about this topic</a>.</p>

    </div>
  </div>

{% endblock %}
